<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Form to submit student information -->
    <form action="{{url_for('addrec')}}" method="POST">
        <h3>Create User</h3>
        <!-- Username input field -->
        Username<br>
        <input type="text" name="name"><br>
        <!-- Password input field -->
        Password<br>
        <input type="text" name="passw"><br>
        <!-- Submit button -->
        <input type="submit" value="submit"><br>
    </form>
</body>
</html>